In [1]:
import pandas as pd
import numpy as ny
dataset = pd.read_csv("Placement.csv")
from Univariate import Univariate
quan, qual = Univariate.getQuanQual(dataset)

In [41]:
dataset.describe()['sl_no']

count    215.000000
mean     108.000000
std       62.209324
min        1.000000
25%       54.500000
50%      108.000000
75%      161.500000
max      215.000000
Name: sl_no, dtype: float64

In [52]:
descriptive = pd.DataFrame(index=["Mean", "Median", "Mode", "0%", "1%", "Q1:25%", "Q2:50%", "Q3:75%", "99%", "Q4:100%"], columns = quan)
for eachField in quan:  
    descriptive[eachField]["Mean"] = dataset[eachField].mean()
    descriptive[eachField]["Median"] = dataset[eachField].median()
    descriptive[eachField]["Mode"] = dataset[eachField].mode()[0]
    descriptive[eachField]["0%"] = ny.percentile(dataset[eachField], 0)
    descriptive[eachField]["1%"] = ny.percentile(dataset[eachField], 1)
    descriptive[eachField]["Q1:25%"] = ny.percentile(dataset[eachField], 25)
    descriptive[eachField]["Q2:50%"] = ny.percentile(dataset[eachField], 50)
    descriptive[eachField]["Q3:75%"] = ny.percentile(dataset[eachField], 75)
    descriptive[eachField]["99%"] = ny.percentile(dataset[eachField], 99)
    descriptive[eachField]["Q4:100%"] = ny.percentile(dataset[eachField], 100)

In [54]:
descriptive

          sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean        108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median      108       67       65       66       71       62  265000
Mode          1       62       63       65       60     56.7  300000
0%            1    40.89       37       50       50    51.21     NaN
1%         3.14    43.14    40.28   50.968  50.0672  51.4682     NaN
Q1:25%     54.5     60.6     60.9       61       60   57.945     NaN
Q2:50%      108       67       65       66       71       62     NaN
Q3:75%    161.5     75.7       73       72     83.5   66.255     NaN
99%      212.86       87    91.86    83.86       97  76.1142     NaN
Q4:100%     215     89.4     97.7       91       98    77.89     NaN

In [46]:
ny.percentile(dataset['salary'], 25)

nan

In [47]:
dataset['salary']

0      270000.0
1      200000.0
2      250000.0
3           NaN
4      425000.0
         ...
210    400000.0
211    275000.0
212    295000.0
213    204000.0
214         NaN
Name: salary, Length: 215, dtype: float64